
body {
    font-family: 'Poppins' !important;
}

/* navbar-start */


h2,  h3 {
    overflow: hidden;
  }
  img{
    overflow-x: hidden;
  }
  .newnav{
    background: #2e3192;
    background: -moz-linear-gradient(to right, #2e3192 1%, #1bffff 100%);
    background: -webkit-linear-gradient(to right, #2e3192 1%, #1bffff 100%);
    background: linear-gradient(to right, #2e3192 1%, #1bffff 100%);
      position: sticky !important;
  }
  
  .navbar a img{
    height: 30px;
    width: 40px !important;
  }
  .navbar-brand {
    font-size: 25px;
    /* margin-left: 30px; */
  }
  .navbar-brand img {
    width: 250px !important;
    height: 80px;
    padding: 0 !important;
    margin: 0 !important;
  }
  .nav-link {
      font-size: 16px;
      font-weight: 600;
  }



/* navbar-end */
/* card-start */


.body-parent{
    background: #2e3192;
    background: -moz-linear-gradient(to right, #2e3192 1%, #1bffff 100%);
    background: -webkit-linear-gradient(to right, #2e3192 1%, #1bffff 100%);
    background: linear-gradient(to right, #2e3192 1%, #1bffff 100%);
}

.red-text {
    color: darkblue;
}

.red-text-large {
    color: red;
    font-size: xx-large;
}


.checked:before{
    content: "✓";
    align-items: center !important;
    justify-content: center;
    color: black;
    width: 1rem;
    height: 1rem;
    padding-top: 17px;
    padding-bottom: 19px;
    padding-left: 18px;
    padding-right: 18px; 
    margin-right: 1rem;
    border-radius: 30px;
    background: #c1eee0;
    font-size: 20px;
    display: inline-flex;
}

.unchecked:before{
    content: "X";
    align-items: center !important;
    justify-content: center;
    color: red;
    width: 1rem;
    height: 1rem;
    padding: 18px;
    margin-right: 1rem;
    border-radius: 30px;
    background: #c1c7c5;
    font-size: 15px;
    display: inline-flex;
}
   
li{
    list-style-type: none;
    margin-top: 1rem;
    
}

.dark_card{
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
}
.light_card{
    background: #fdfbfa; background: -moz-linear-gradient(to right,  #fdfbfa 0%,#e2d1c4 100%); background: -webkit-linear-gradient(to right,  #fdfbfa 0%,#e2d1c4 100%); background: linear-gradient(to right,  #fdfbfa 0%,#e2d1c4 100%);
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.card {
    /* min-width: 300px !important; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bottom-red {
border-bottom: solid 5px red;
align-items: baseline !important;
}
.bottom-green {
border-bottom: solid 5px green;
align-items: baseline !important;
}

.addon {
    margin-left: 60px !important;
    margin-top: 50px;
}
.red-pointer ::before 
    {content: "•"; 
    color: red;
    display: inline-block; 
    width: 2rem;
    margin-left: 4rem
}

.btn-danger:hover{
    /* border: 1px solid red !important; */
    background-color: white !important;
    color: red !important;
}

/* .btn-success:hover{
    background-color: red !important;
    color: white!important;
} */
/* card-end */


/* social-media-start */

#social-media{
    padding: 100px 0;
}
#social-media p{
   font-size: 36px;
   font-weight: 600;
   margin-bottom: 30px;
}

.social-icons img{
    width: 60px;
    transition: 0.5s;
}
.social-icons a:hover img{
    transform: translateY(-10px);
}

/* social-media-end */

/* Footer-start */

#footer{
    background: #2e3192;
    background: -moz-linear-gradient(to right, #2e3192 1%, #1bffff 100%);
    background: -webkit-linear-gradient(to right, #2e3192 1%, #1bffff 100%);
    background: linear-gradient(to right, #2e3192 1%, #1bffff 100%);
    color: white;
}

.footer-img{
    width: 100%;
}

.footer-box{
    padding: 20px;
}

.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 12px;
  background-image: linear-gradient( to right, rgba(82,193,247,255), rgba(82,193,247,255) );
}

.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0%;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .bg-light{
    box-shadow: none !important;
    border: none;
    border-radius: 0%;
    margin-top: 30px;
}
.footer-box .bg-light:hover{
    background-color: rgba(82,193,27,255)!important;
    color: white;
}